/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

/* App Layout */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Styles */
.header {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 4rem; /* Bigger text */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black box */
  color: white; /* Text color */
  padding: 20px 40px; /* Space around the text */
  border-radius: 10px; /* Optional: rounded corners */
  text-align: center;
  z-index: 10; /* Keeps it above other elements */
}

/* Links */
.App-link {
  color: #61dafb;
}

/* Parallax Layout */
.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.left {
  background-color: white;
  color: black;
}

.right {
  background-color: black;
  color: white;
}

/* Background Images */
.left {
  background-image: url(''); /* Add background image URL here */
}

.right {
  background-image: url(''); /* Add background image URL here */
}

/* Buttons */
.button {
  height: auto;
  width: auto;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
}

.left .button {
  color: white;
  background-color: black;
}

.right .button {
  color: black;
  background-color: white;
}

.left .button:hover,
.right .button:hover {
  background-color: transparent;
}

.left .button:hover {
  color: black;
}

.right .button:hover {
  color: white;
}

/* Keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
