/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

/* App Layout */
.App {
  text-align: center;
  height: 100%;
}

/* Header Styles */
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.header:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  transform: translate(-50%, -50%) scale(1.1);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}


/* Left Section */
.left {
  flex: 1;
  background-image: url('../public/gameingPicture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right Section */
.right {
  flex: 1;
  background-image: url('../public/codingPicture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons */
.button {
  padding: 10px 20px;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.left .button {
  color: white;
  background-color: black;
}

.right .button {
  color: black;
  background-color: white;
}

.left .button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.479);
  transform: scale(1.05);
}

.right .button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  transform: scale(1.05);
}
