.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: sans-serif;
}
.left {
  background-color: white;
  color: black;
}
.right {
  background-color: black;
  color: white;
}

/* EFECTE PARALLAX */
.container .left {
  background-image: url('');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .right {
  background-image: url('');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right .button{
  color: black;
  background-color: white;
  height: 5%;
  width: 10%;
  transition: all 0.3s ease-in-out;
}
.left .button{
  color: white;
  background-color: black;
  height: 5%;
  width: 10%;
  transition: all 0.3s ease-in-out;
}

.right .button:hover {
  color: white;
  background-color: transparent;
}

.left .button:hover {
  color: black;
  background-color: transparent;
}